<div>
  <div class="header-container d-flex justify-content-center">
    <img src="assets/profilePicture.jpg" alt-text="Profile Picture" class="profilePicture">
    <div>
      <h1 class="align-items-start">Vishwajeet Parase</h1>
      <span style="margin-left:10px;">Software Developer at </span>
      <img src="assets/amdocsLogo.png" class="amdocsLogo">
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="justify-content-center">
      Experienced Software Developer specializing in telecommunications, known for
      crafting innovative solutions to tackle
      complex challenges. Proficient in Java, Typescript, Angular, and more. With a commitment to excellence and a
      passion for learning, I thrive in dynamic environments. Let's connect and explore opportunities to collaborate on
      exciting ventures!
    </div>
  </div>
</div>